@font-face {
  font-family: 'Roboto-Bold';
  src: url(./../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Black';
  src: url(./../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(./../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url(./../fonts/Roboto-Thin.ttf);
}

body {
    position: relative;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px;
}

.item {
  font-family: "Roboto-Bold", sans-serif;
  padding: 20px;
  background-color: #EFEFE6;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
  
.item:hover {
  background-color: #EFEFE6;
  box-shadow: 0 0 5px 0 #EFEFE6 inset, 0 0 5px 2px #EFEFE6;
}

.item.selected {
  background-color: #675B5B;
  color: white;
}
  
.item.selected:hover {
  box-shadow: 0 0 5px 0 #675B5B inset, 0 0 5px 2px #675B5B;
  color: white;
}

button {
  display: block;
  margin: 20px auto;
}

.category-label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* New CSS class for the div box that spans full row length */
.full-row {
  grid-column: 1 / -1; /* The div spans across all columns */
}

.full-row {
  font-family: "Roboto-Regular", sans-serif;
  display: grid;
  gap: 10px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}
  
b {
  font-family: "Roboto-Bold", sans-serif;
  display: contents;
}

.cell-animation {
  animation: swap 0.5s;
}
  
@keyframes swap {
  0% { transform: scale(1, 1); }
  100% { transform: scale(0, 0); }
}

.cell-animation-reverse {
  animation: swap-reverse 0.5s;
}
  
@keyframes swap-reverse {
  0% { transform: scale(0, 0); }
  100% { transform: scale(1, 1); }
}

button {
  display: block;
  margin: 20px auto;
  background-color: white;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 2px 0 black inset, 0 0 2px 0 black;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.048);
}

h1 {
  font-family: "Roboto-Black", sans-serif;
  text-align: center;
}

.cell-animation-shake {
  animation: tilt-shaking 0.2s;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

body {
    border-style: double;
    border-radius: 10px;
}

.question-button {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
}

/* Tooltip */
.tooltip {
  font-family: "Roboto-Bold", sans-serif;
  display: none;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -25px;
  right: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  word-wrap: break-word;
  overflow: hidden;
}

.question-button:hover {
  background-color: transparent;
  border: transparent;
  border-style: none;
  box-shadow: none;
}

.question-button:hover ~ .tooltip, .tooltip:hover {
  display: block;
  opacity: 1;
}

.modal {
    position: relative;
    top: -30%;
}


.cell-animation-selected {
  animation: select-Item 0.2s;
}

@keyframes select-Item {
  0% { transform: scale(1, 1); }
  100% { transform: scale(0.8, 0.8); }
}

#livesText {
  font-family: "Roboto-Regular", sans-serif;
}

#amountOfLives{
  font-family: "Roboto-Bold", sans-serif;
}

dialog {
  font-family: "Roboto-Regular", sans-serif;
  border-radius: 5px;
}